// @media screen and (max-width: 600px) {
//             .about-column {
//                 width: 100%;
//             }
//         }

// @media only screen and (width >= 1024px) {
// //   .img-gallery {
// //     --gallery-items-per-row: 4;
// //   }
// }

// @media only screen and (768px < width < 1024px) {
// //   .img-gallery {
// //     --gallery-items-per-row: 3;
// //   }
// }

// // @media only screen and (540px < width < 768px) {
// //    .about-container {
// //     flex-direction: row;
// //    }
// // }

@media (min-width: 700px) {
  .about-container {
    flex-direction: row !important;
  }
}

// .about-container {
//     display: flex;
//     flex-direction: row;
//     padding-left: 0px;
// }

// .about-column {
//     flex: 1;
//     padding-right: 20px;
//     box-sizing: border-box;
// }
