---
layout: page
---
<head>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            padding-left: 0px;
        }
        .column {
            flex: 1;
            padding-right: 20px;
            box-sizing: border-box;
        }
        @media (min-width: 700px) {
            .container {
                flex-direction: row !important;
            } 
            
        }
        .right-column {
            padding-top: 60px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="column left-column">
            <img src="/commons/contact.png"></img>
        </div>
        <div class="column right-column">   
          <p></p>
          <p></p>
          <p></p>
          
            <p><b>email:</b>     alice.binghamcarr@gmail.com</p>
            <p><b>instagram:</b>  <a href="https://instagram.com/a.e.carr">@a.e.carr</a> </p>
            <p><b>selected works for sale:</b> through <a href="https://partnershipeditions.com/collections/alice-carr">partnershipeditions.com</a> </p>
        </div>
    </div>
</body>
</html>