---
layout: default
---
<head>
  <style>
    @media only screen and (width < 821px) {
      .homepage-image-large {
        display: none;
      }
      .homepage-image-small {
        height: 100% !important;
        padding-top: 50px;
      }
    }

    @media only screen and (width >= 821px) {
      .homepage-image-large {
        max-width: 95% !important;
        padding-top: 50px;
        display: block;
        margin: auto;
      }
      .homepage-image-small {
        display: none;
      }
    }
  </style>
</head>

{% include lang.html %}

{% assign all_pinned = site.posts | where: 'pin', 'true' %}
{% assign all_normal = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get pinned posts on current page -->

{% assign visible_start = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign visible_end = visible_start | plus: paginator.per_page %}

{% if all_pinned.size > visible_start %}
  {% if all_pinned.size > visible_end %}
    {% assign pinned_size = paginator.per_page %}
  {% else %}
    {% assign pinned_size = all_pinned.size | minus: visible_start %}
  {% endif %}

  {% for i in (visible_start..all_pinned.size) limit: pinned_size %}
    {% assign posts = posts | push: all_pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_size = 0 %}
{% endif %}

<!-- Get normal posts on current page -->

<div>
  <div class="preview-img  shimmer"><img src="/commons/horse_in_forest.jpg" alt="photo of studio" class="homepage-image-large" loading="lazy"></div>
  <div class="preview-img  shimmer"><img src="/commons/horse_on_forest_long.jpg" alt="photo of studio" class="homepage-image-small" loading="lazy"></div>
</div>