---
layout: page
# The Archives of posts.
---
<head>
    <style>

    </style>
</head>

<!-- https://blog.logrocket.com/responsive-image-gallery-css-flexbox/ -->


<div class="img-gallery">
  <div class="img-gallery__item">
    <figure>
      <img src="/commons/recent_work/image_1.jpg" width="264px" height="372px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->

  <div class="img-gallery__item">
        <figure>
      <img src="/commons/recent_work/image_2.jpeg" width="264px" height="388px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->

  <div class="img-gallery__item">
    <figure>
      <img src="/commons/recent_work/image_3.jpeg" width="264px" height="367px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->

    <div class="img-gallery__item">
    <figure>
      <img src="/commons/recent_work/image_4.jpeg" width="368px" height="264px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->

      <div class="img-gallery__item">
    <figure>
      <img src="/commons/recent_work/image_5.jpeg" width="353px" height="264px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->

    <div class="img-gallery__item">
    <figure>
      <img src="/commons/recent_work/image_6.jpeg" width="264px" height="634px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->

    <div class="img-gallery__item">
    <figure>
      <img src="/commons/recent_work/image_7.jpeg" width="264px" height="187px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->

    <div class="img-gallery__item">
    <figure>
      <img src="/commons/recent_work/image_9.jpeg" width="264px" height="225px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->

    <div class="img-gallery__item">
    <figure>
      <img src="/commons/recent_work/image_10.jpeg" width="264px" height="370px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->

    <div class="img-gallery__item">
    <figure>
      <img src="/commons/recent_work/image_11.jpeg" width="264px" height="186px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->

    <div class="img-gallery__item">
    <figure>
      <img src="/commons/recent_work/image_12.jpeg" width="264px" height="186px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->


    <div class="img-gallery__item">
    <figure>
      <img src="/commons/recent_work/image_14.jpeg" width="264px" height="190px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->

    <div class="img-gallery__item">
    <figure>
      <img src="/commons/recent_work/image_15.jpeg" width="264px" height="231px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->



    <div class="img-gallery__item">
    <figure>
      <img src="/commons/recent_work/image_17.jpeg" width="264px" height="187px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->

    <div class="img-gallery__item">
    <figure>
      <img src="/commons/recent_work/image_18.jpeg" width="264px" height="377px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->

    <div class="img-gallery__item">
    <figure>
      <img src="/commons/recent_work/image_19.jpeg" width="264px" height="377px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->

    <div class="img-gallery__item">
    <figure>
      <img src="/commons/recent_work/image_20.jpeg" width="264px" height="377px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->

      <div class="img-gallery__item">
    <figure>
      <img src="/commons/recent_work/image_16.jpeg" width="260px" height="264px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->

        <div class="img-gallery__item">
    <figure>
      <img src="/commons/recent_work/image_21.jpeg" width="260px" height="264px" alt="...">
      <figcaption></figcaption>
    </figure>
  </div><!-- .img-gallery__item -->
</div><!-- .img-gallery -->